#textHero .line {
  visibility: hidden;
  opacity: 0;
  will-change: transform, opacity, visibility;
}

#textHero2 {
  .line-overflow {
    overflow: hidden;
  }

  .line {
    visibility: hidden;
    opacity: 0;
    will-change: transform, opacity, visibility;
  }
}