---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<ul>
		<li><a href="/scrollTrigger">Scroll trigger</a></li>
		<li><a href="/textAnimation">Split Text Animation</a></li>
		<li><a href="/scrollAnimation">Scroll Animation - Scroll Reveal</a></li>
		<li><a href="/scrollAnimation2">Scroll Animation2 - Scroll Trigger</a></li>
	</ul>
</Layout>
