---
import Layout from '../layouts/Layout.astro'
---

<Layout title="scroll animation">
  <div class="hero gsReveal">
    <div class="container">
      <div class="row">
        <div class="column">
          <div class="heroPadding">
            <h1 class="reveal-hero gsAni">Hi I'm Samuel, a product designer passionate about designing and building delightful websites, products, and design systems that help people make a difference.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="casestudylists">
    <div class="container cslisting gsReveal">
      <div class="row">
        <div class="column column-40">
          <p class="gsAni">ArchiPro</p>
          <h2 class="gsAni">Building Automated Shipping for Product Suppliers and Shipping Companies</h2>
        </div>
        <div class="column">
          <img class="gsAni" src="https://placehold.co/800x400" alt="">
        </div>
      </div>
    </div>
    <div class="container cslisting gsReveal">
      <div class="row">
        <div class="column column-40">
          <p class="gsAni">Attitude Live</p>
          <h2 class="gsAni">Redesigning the AttitudeLive Website for Accessibility</h2>
        </div>
        <div class="column">
          <img class="gsAni" src="https://placehold.co/800x400" alt="">
        </div>
      </div>
    </div>
    <div class="container cslisting gsReveal">
      <div class="row">
        <div class="column column-40">
          <p class="gsAni">JVNZ</p>
          <h2 class="gsAni">Designing an E-commerce Responsive Website for Personalised Children's Books</h2>
        </div>
        <div class="column">
          <img class="gsAni" src="https://placehold.co/800x400" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="column">
        <div class="imagePallaxContainer">
          <img class="imgPallax" src="https://placehold.co/800x600" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</h1>
      </div>
    </div>
  </div>
  <div class="container">    
    <div class="row">
      <div class="column">
        <div class="imagePallaxContainer">
          <img class="imgPallax" src="https://placehold.co/800x600" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="column">
        <div class="fancy-grid-wrapper">
          <div class="grid-fancy">
            <div class="col1">
              <img class="img1 parallax" data-horizontal="10" src="https://placehold.co/600x800/orange/white" alt="">
            </div>
            <div class="col2">
              <img class="img2 parallax" data-horizontal="-10" src="https://placehold.co/600x800/orange/white" alt="">
            </div>
            <div class="col3">
              <img class="img3 parallax" data-horizontal="20" src="https://placehold.co/600x800/orange/white" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="column">
        <h1>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</h1>
      </div>
    </div>
  </div>
  <button class="button" type="button" id="backtotop">Back to top</button>
  <script src="../scripts/scrollingtrigger3.js"></script>
</Layout>

<style lang="scss">
  body {
    overflow-x: hidden;
  }
  .hero {
    padding: 140px 0;
    background: cyan;
  }

  .cslisting {
    padding: 120px 0;
  }

  .gsAni {
    will-change: transform, opacity, visibility;
    visibility: hidden;
  }

  .imagePallaxContainer {
    text-align: center;
    height: 500px;
    background: lightseagreen;
    overflow: hidden;
    img {
      padding-top: 40px;
    }
  }

  .fancy-grid-wrapper {
    height: 400px;
    overflow: hidden;
    background-color:aqua;
  }

  .grid-fancy {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 0px 24px;
    grid-auto-flow: row;
    grid-template-areas:
      "col1 col2 col3"
      "col1 col2 col3";
    // background-color:bisque;
    

    .col1 { 
      grid-area: col1;
      justify-self: center; 
      align-self: start; 
      // margin-top: auto;
      img {
        margin-top: -24%;
      }
    }

    .col2 { 
      grid-area: col2;
      justify-self: center; 
      align-self: end; 
      
      img {
        margin-top: 20%;
      }
    }

    .col3 { 
      grid-area: col3;
      justify-self: center; 
      align-self: start;
      img {
        margin-top: -34%;
      }
    }
  }

</style>