---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Text Animation">
  <div class="container">
    <div class="row">
      <div class="column">
        <h1 id="textHero" class="">Hi I'm Samuel, a product designer passionate about designing and building delightful websites, products, and design systems that help people make a difference.</h1>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <img class="imgHero" src="https://plchldr.co/i/1200x500?&bg=123asd&fc=fff">
      </div>
    </div>

    <div class="row">
      <div class="column">
        <button class="button" id="animateagain">Animate</button>
      </div>
    </div>
  </div>

  <script src="../scripts/textanimation.js"></script>
</Layout>

<style lang="scss">
  #textHero .line {
    will-change: transform, opacity;
  }
</style>